* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* test */
@import url("https://googleapis.com");

body {
  font-family: "Noto Sans Bengali", sans-serif;
}

#name {
  font-family: SutonnyMJ;
}


.btn_activea,
.btn_active {
  background-color: #d4121c !important;
  color: #eef2f1;
  border-radius: 15px;
}
#gridss{
  display: block;
}
#solar {
  display: none;
}


a {
  text-decoration: none;
}

#header {
  background-color: #05d8ae;
  color: #fff;
  width: 100%;
}

#time {
  text-align: center;
  font-size: 30px;
}
.grid {
  display: grid;
  grid-template-columns: 30% 70%;
}

.grid-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-content img {
  width: 100%;
}

.grid-content h1 {
  font-size: 60px;
  color: #333;
}

#Marque {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}
.btn_section_1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.btn_section_1 .btn {
  margin: 0 10px;
  padding: 10px 20px;
  background-color: #05d8ae;
  color: #fff;
  border: none;
  width: 250px;
  cursor: pointer;
}
.btn_width {
  width: 300px !important;
}

h2 {
  font-size: 30px;
  text-align: center;
  margin-top: 30px;
}

#count{
  padding: 20px;
  width: 99%;
}
#count_02 {
  padding: 20px;
  width: 99%;
}

#count .grid {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  gap: 10px;
}
#count_02 .solor_grid {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  gap: 10px;
}
/* #count_02 .solor_grid{ */

/* } */
#count_02 .solor_grid .grid-content,
#count .grid .grid-content {
  display: block;
  justify-content: center;
  align-items: center;
}

input {
  width: 100%;
  padding: 10px;
}

.btn_001 {
  padding: 10px;
  background-color: #05d8ae;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  width: 100%;
}
button.btn_001:hover {
  background-color: #12d459;
  color: #05d8ae;
  border-radius: 25px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table,
th,
td {
  border: 1px solid #333;
  font-size: 30px;
}

td {
  text-align: center;
  font-size: 30px;
}

#output_grid {
  padding: 20px;
  width: 100%;
}

td:last-child {
  text-align: right;
  padding-right: 20px;
}
td.word {
  text-align: left;
  padding-left: 10px;
  text-decoration: underline;
  font-weight: bold;
}

.total {
  font-weight: bold;
  text-decoration-line: underline;
  text-decoration-style: double;
  padding: 10px 0;
}
.btn_section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #05d8ae;
  color: #fff;
  border: none;
  width: 200px;
  cursor: pointer;
  margin: 30px 10px;
}
.prints:hover {
  background-color: #12d459;
  color: #eef2f1;
  border-radius: 25px;
}
.ref:hover {
  background-color: #d41212;
  color: #eef2f1;
  border-radius: 25px;
}
.info {
    margin: 10px 10px 40px 10px;
    width: 98%;
}
.info td{
  text-align: left;
}
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {
  .grid {
    display: grid;
    grid-template-columns: 100%;
  }
  .grid-content img {
    width: 76%;
    width: 76%;
  }
  .grid-content h1 {
    font-size: 28px;
    text-align: center;
    color: #333;
  }
  h2 {
    font-size: 21px;
    text-align: center;
    margin-top: 17px;
  }
  #time h1 {
    font-size: 20px;
  }
  #count .grid {
    display: grid;
    grid-template-columns: 100%;
    gap: 10px;
  }
  .btn_001 {
    width: 100%;
  }
  th,
  td {
    font-size: 10px;
  }
  table {
    margin: 10px;
    width: 98%;
  }
  #output {
    padding: 5px;
    width: 100%;
}
.btn_section {
    display: inline;
    justify-content: center;
    align-items: center;
}
.btn {
    margin-top: 20px;
    padding: 6px 10px;
    background-color: #05d8ae;
    color: #fff;
    border: none;
    width: 94%;
    margin: 10px;
    font-size: 10px;
}
.btn_section_1 {
    display: grid;
    margin-top: 20px;
    grid-template-columns: auto;
    gap: 11px;
}
.btn_section_1 .btn {
    margin: 0 ;
    padding: 10px 30px;
    background-color: #05d8ae;
    color: #fff;
    border: none;
    width: 100%;
    cursor: pointer;
}
#count_02 .solor_grid {
    display: grid;
    grid-template-columns: auto;
    gap: 10px;
}
.info {
    margin: 10px;
    width: 98%;
}
td:last-child {
    text-align: right;
    padding-right: 5px;
}
input {
    width: 100%;
    padding: 5px;
} 
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 575px) and (max-width: 767.98px) {
  #name {
    font-family: SutonnyMJ;
    font-size: 25px;
}
#time h1{
  font-size: 25px;
}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  #name {
    font-size: 31px;
}
#time h1{
  font-size: 30px;
}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
